:root {
    --typo-light: #FFFFFF;
    --typo-dark: #1E1E1E;
    --typo-gray: hsla(0,0%,100%,.6);
    --typo-gray-secondary: #777;
    --typo-contrast: #f50;
    --bg-dark: #141414;
    --bg-light-dark: rgba(0,0,0,.05);
    --bg-input: hsla(0,0%,100%,.15);
    --bg-input-mob: #444;
    --br-default: 8px;
}