.popular {
  &__title {
    @include h4;

    color: var(--typo-dark);
    padding-bottom: 20px;
  }

  &__slider {
    @include pad {
      margin-right: -16px;
    }

    position: relative;
  }

  &__slide {
    width: 148px;
  }

  &__controls {
    @include pad {
      display: none;
    }

    position: absolute;
    top: 95px;
    left: -20px;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 40px);
    pointer-events: none;
    z-index: 1;
  }
}
