.search {
  &__title {
    @include h2;

    padding-bottom: 50px;
    color: var(--typo-dark);
  }

  &__empty {
    @include txt20;

    color: var(--typo-dark);
  }

  &__total {
    @include txt16;

    color: var(--typo-dark);
  }
}